:root {
  --main-cl: #111111;
  --accent-cl: #fd9222;
  --violet-cl: #1e1823;
  --beige-cl: #fcf1e0;
  --light-cl: #fafafa;
  --gray-cl: #4c4c4c;
  --white-cl: #ffffff;
  --white-cl-70: #ffffffb3;
}

/** RESET STYLES */

* {
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.16;
  letter-spacing: -0.03em;
}

ul,
ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  list-style: none;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--light-cl);
  color: var(--main-cl);
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 100%;
  max-width: 1166px;
  padding: 0 15px;
  margin: 0 auto;
}

/** END RESET STYLES */

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.orange {
  color: var(--accent-cl);
}

.social-icon {
  fill: transparent;
  stroke: var(--main-cl);
}
/* .section {

} */

/** -------------HEADER START------------- */
.header-container {
  display: flex;
}
.header {
  padding-top: 24px;
  padding-bottom: 32px;
}
.header > .container {
  display: flex;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-logo {
  color: inherit;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.26;
  letter-spacing: -0.03em;
  display: flex;
  align-items: center;
  gap: 4px;
}

.header-logo-italic {
  font-style: italic;
}

.header-navigation-list {
  display: none;
}

/* .header-navigation-item {

} */

.header-navigation-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14; /* 114.286% */
  letter-spacing: -0.02em;
  color: var(--main-cl);
}

.header-navigation-link:is(:hover, :focus),
.address-link:is(:hover, :focus),
.footer-nav-link:is(:hover, :focus),
.social-icon:is(:hover, :focus),
.footer-social-icon:is(:hover, :focus) {
  color: var(--accent-cl);
  stroke: var(--accent-cl);
}

.header-social {
  margin-left: auto;
  display: none;
  gap: 14px;
}

.header-social-item {
  display: inline-block;
}

/* .header-social-link {

} */

.menu-open-btn {
  margin-left: auto;
  border: transparent;
  background-color: transparent;
}
.menu-close-btn {
  border: transparent;
  background-color: transparent;
}
.menu-icon {
  stroke: var(--main-cl);
}
.close-menu-icon {
  stroke: var(--white-cl);
}

.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100vw;
  height: 100vh;
  background-color: var(--violet-cl);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}
.menu-close-btn {
  display: block;
  margin-left: auto;
  margin-bottom: 88px;
  /* position: absolute;
  top: 20px;
  right: 20px; */
}
.menu-icon {
}
.mob-menu-list {
  margin-bottom: 100px;
}
.mob-menu-item:not(:last-child) {
  margin-bottom: 24px;
}
.mob-menu-link {
  color: var(--white-cl);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
}
.mob-menu-social-list {
  display: flex;
  gap: 14px;
}
.mob-menu-social-item {
}
.mob-menu-social-link {
}
.mob-menu-social-icon {
  fill: transparent;
  stroke: var(--white-cl);
}
.mob-menu-social-icon {
}

/** -------------HEADER END------------- */

/** -------------HERO START------------- */

.hero {
  padding-bottom: 80px;
}

.hero-wrap {
  background-color: var(--main-cl);
  background-image: linear-gradient(rgba(17, 17, 17, 0.4), rgba(17, 17, 17, 0.4)),
    url(../img/hero-img-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 30px;
  padding: 395px 20px 20px;
}

@media (min-device-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-wrap {
    background-image: linear-gradient(rgba(17, 17, 17, 0.4), rgba(17, 17, 17, 0.4)),
      url(../img/hero-img-mob-2x.jpg);
  }
}

.hero-title {
  color: var(--white-cl);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.03em;
  max-width: 484px;
  margin-bottom: 32px;
}
.hero-btn {
  color: var(--white-cl);
  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
  background-color: var(--accent-cl);
  border-radius: 100px;
  border: 1px solid #fd9222;
  padding: 12px 14px;
  margin-right: 14px;
  transition-property: color, background-color;
  transition-duration: 300ms, 250ms;
  /* transition-delay: 500ms; */
  /* transition-timing-function: ease-in-out; */
}
.hero-btn:hover {
  color: var(--accent-cl);
  background-color: var(--beige-cl);
}
.hero-link-btn {
  color: var(--white-cl);
  font-size: 14px;
  font-weight: 600;
  padding: 12px 14px;
  border-radius: 100px;
  border: 1px solid #fff;
}

.hero-link-btn:hover {
  color: var(--accent-cl);
  border-radius: 100px;
  border: 1px solid #fd9222;
}

.hero-down-btn {
  color: var(--white-cl);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.03em;
  display: flex;
  align-items: center;
  gap: 14px;
  /* margin-left: auto; */
  margin-top: 32px;
}

.down-icon-wrap {
  display: flex;
  width: 38px;
  height: 38px;
  background-color: var(--white-cl);
  border-radius: 50%;
  position: relative;
}
.scroll-down-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: var(--accent-cl);
}

.hero-buttons {
  display: flex;
  flex-wrap: wrap;
}
/** -------------HERO END------------- */

/** -------------BENEFITS START------------- */

.benefits {
  background-color: var(--violet-cl);
  padding: 20px 0;
}

.benefits-list {
  /* padding: 0 19px; */
  padding-right: 28px;
  display: flex;
  flex-wrap: wrap;
  gap: 38px;
}

.benefits-item {
  /* width: calc((100% - 2 * 88px) / 3); */
  position: relative;
}

.benefits-item-top {
  display: none;
}

.benefits-item-title {
  color: var(--white-cl);
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 18px;
}
.benefits-item-text {
  color: var(--white-cl-70);
  font-size: 14px;
  line-height: 1.29; /* 128.571% */
  letter-spacing: -0.02em;
}

/** -------------BENEFITS END------------- */

/** -------------INGRIDIENTS START------------- */

.ingridients {
  padding-top: 80px;
}

.ingridients-title {
  max-width: 412px;
  margin: 0 auto;
  margin-bottom: 32px;
}

.ingridients-text {
  text-align: center;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  max-width: 486px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.ingridients-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.ingridients-item {
  border-radius: 15px;
  /* width: calc((100% - 3 * 32px) / 4); */
  width: 100%;
  padding: 28px 23px;
}

.ingridients-item:not(:nth-child(-n + 4)) {
  display: none;
}

/* .ingridients-link {
} */

.ingridients-link-title {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.white {
  color: var(--white-cl);
}

.black {
  color: var(--main-cl);
}

.ingridients-item:nth-child(4n + 1) {
  background-color: var(--accent-cl);
}

.ingridients-item:nth-child(4n + 3) {
  background-color: var(--violet-cl);
}

.ingridients-item:nth-child(even) {
  background-color: var(--white-cl);
  border: 1px solid #fd9222;
  background: var(--white-cl);
}

.ingridients-link > img {
  margin: 0 auto;
  margin-bottom: 36px;
}

/** -------------INGRIDIENTS END------------- */

/** -------------PROCESS START------------- */

.process {
  padding-top: 80px;
}

.process-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.process-title {
  margin-bottom: 50px;
}

.process-video {
  border-radius: 30px;
  display: block;
}

.process-right-side {
  background-color: var(--white-cl);
  padding: 20px 14px;
  border-radius: 15px;
}
.process-list-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  margin-bottom: 20px;
}

.process-item {
  max-width: 452px;
  padding-left: 16px;
  position: relative;
}

.process-item:not(:last-child) {
  margin-bottom: 18px;
}

.process-item::before {
  position: absolute;
  left: 0;
  top: 5px;
  content: '';
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background-color: var(--gray-cl);
  box-shadow: 0 0 0 1.5px #eceded;
}

.process-text {
  font-size: 14px;
  line-height: 1.29; /* 128.571% */
  letter-spacing: -0.02em;
}

/** -------------PROCESS END------------- */

/** -------------PRODUCTS START------------- */

.products {
  margin-top: 80px;
}
.products-title {
  margin-bottom: 50px;
}
.products-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
.products-item {
  background-color: var(--white-cl);
  padding: 32px 20px;
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  /* width: calc((100% - 3 * 18px) / 4); */
  width: 100%;
  text-align: center;
}
.products-img {
  margin-bottom: 8px;
}
.products-subtitle {
  font-weight: 600;
  font-style: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
.products-text {
  margin-bottom: 18px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: var(--main-cl);
}
.products-price {
  font-weight: 600;
  font-style: 14px;
  line-height: 1.21;
  background-color: var(--light-cl);
  display: inline-block;
  padding: 8px 20px;
  border-radius: 100px;
  border: 1px solid rgba(17, 17, 17, 0.1);
}

/** -------------PRODUCTS END------------- */

/** -------------TOP SELLERS START------------- */
.sellers {
  padding-top: 80px;
}
.sellers-title {
  margin-bottom: 50px;
}
.sellers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.sellers-item {
  border-radius: 0px 0px 15px 15px;
  border-right: 1px solid rgba(17, 17, 17, 0.1);
  border-bottom: 1px solid rgba(17, 17, 17, 0.1);
  border-left: 1px solid rgba(17, 17, 17, 0.1);
  background-color: var(--white-cl);
  text-align: center;
  /* width: calc((100% - 32px) / 3); */
  width: 100%;
}
.sellers-item:not(:first-child) {
  display: none;
}

.sellers-cover {
  position: absolute;
  top: 0;
  border-radius: 15px 15px 0px 0px;
  background: linear-gradient(161deg, rgba(253, 253, 255, 0.1) 0%, rgba(8, 2, 21, 0) 100%);
  backdrop-filter: blur(7.5px);
  height: 100%;
  padding: 0 40px;
  display: flex;
  align-items: center;
  transform: translateY(100%);
  transition: transform 300ms linear;
}
.sellers-cover-text {
  color: var(--light-cl);
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
}
.sellers-cover-wrap {
  position: relative;
  overflow: hidden;
}

.sellers-item:hover .sellers-cover {
  transform: translateY(0);
}

.sellers-subtitle {
  padding-bottom: 28px;
  margin-top: 28px;
}

/** -------------TOP SELLERS END------------- */

/** -------------REVIEWS START------------- */

.reviews {
  padding: 120px 0;
}
.reviews-title {
  margin-bottom: 90px;
}
.reviews-list {
  margin-bottom: 50px;
  display: flex;
  gap: 28px;
}
.reviews-item {
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background: #fff;
  box-shadow: 0px 9.049315452575684px 100px 0px rgba(17, 17, 17, 0.03);
  width: calc((100% - 2 * 28px) / 3);
  position: relative;
}
.reviews-img {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.reviews-subtitle {
  text-align: center;
  margin-bottom: 24px;
  padding-top: 56px;
}

.reviews-text {
  text-align: center;
}

.reviews-btn {
  color: var(--main-cl);
  background-color: var(--white-cl);
  font-family: inherit;
  font-size: 18px;
  font-weight: 600;
  border-radius: 100px;
  border: 1px solid var(--accent-cl);
  display: block;
  margin: 0 auto;
  padding: 14px 40px;
  transition-property: color, background-color;
  transition-duration: 300ms, 250ms;
}
.reviews-btn:is(:hover, :focus) {
  color: var(--white-cl);
  background-color: var(--accent-cl);
}

/** -------------REVIEWS END------------- */

/** -------------FOOTER START------------- */

.footer {
  background-color: var(--violet-cl);
  padding: 50px 0;
}

.footer-top {
  display: flex;
  padding-bottom: 50px;
  margin-bottom: 24px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.text-wrap {
  margin-right: auto;
}

.footer-social-div {
  margin-right: 50px;
}

.footer-text {
  color: var(--white-cl);
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.02em;
  max-width: 300px;
}
.footer-social,
.address-text {
  color: var(--white-cl);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29; /* 128.571% */
  margin-bottom: 14px;
}

.footer-item {
  display: inline-block;
}

.footer-item:hover {
  color: var(--accent-cl);
}

.address-item:not(:last-child) {
  margin-bottom: 4px;
}
.address-link {
  color: var(--white-cl);
}

.footer-social-icon {
  fill: transparent;
  stroke: var(--white-cl);
}

.footer-nav-link {
  color: var(--white-cl);
}

.footer-nav-list {
  display: flex;
  gap: 24px;
}

.footer-list {
  display: flex;
  gap: 14px;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-input {
  background-color: transparent;
  border-radius: 30px;
  letter-spacing: -0.02em;

  border: 1.5px solid rgba(255, 255, 255, 0.15);
  padding: 14px 24px;
  width: 313px;
  height: 52px;
  color: rgba(255, 255, 255, 0.3);
  outline: none;
  transition: border-color 300ms linear;
}

.footer-input:focus {
  border-color: var(--accent-cl);
}

.footer-input:focus::placeholder {
  color: var(--white-cl);
}

.footer-input::placeholder {
  font-size: 18px;
  letter-spacing: -0.02em;
  transition: color 300ms linear;
}

.footer-form {
  display: flex;
  gap: 8px;
}

.footer-input-btn {
  min-width: 137px;
  height: 52px;
  padding: 17px 40px;
  border-radius: 100px;
  background-color: #fd9222;
  color: var(--white-cl);
  font-weight: 600;
  border: 1px solid var(--accent-cl);
  transition: background-color 250ms linear, color 300ms linear;
}

.footer-input-btn:hover {
  background-color: var(--beige-cl);
  color: var(--accent-cl);
}

/** -------------FOOTER END------------- */

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(76, 76, 76, 0.596);
  top: 0;
  transition: opacity 300ms, visibility 300ms linear;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 517px;
  min-height: 794px;
  border-radius: 15px;
  background-color: var(--light-cl);
  transition: transform 300ms linear;
  padding: 40px;
}

.modal-close-btn {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 24px;
  right: 24px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-title {
  color: var(--main-cl);
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.modal-title span {
  display: block;
}
.modal-input {
  width: 100%;
  height: 68px;
  background-color: transparent;
  border-radius: 13px;
  border: 1.5px solid rgba(17, 17, 17, 0.25);
  /* box-shadow: 0px 5.444915294647217px 5.444915294647217px 0px rgba(0, 0, 0, 0.03); */
  padding-left: 62px;
  padding-right: 24px;
  outline: transparent;
  transition: border-color 200ms ease;
}

.modal-comment:focus,
.modal-input:focus,
.modal-input:focus + .modal-icon {
  border-color: var(--accent-cl);
  stroke: var(--accent-cl);
}

/* .modal-input-wrap:focus-within .modal-icon {
  stroke: var(--accent-cl);
} */

.modal-input::placeholder {
  color: teal;
}

.modal-input:required {
  border-width: 2px;
}

.modal-field {
  margin-bottom: 18px;
}
.modal-field .label {
  display: inline-block;
  margin-bottom: 8px;
}
.modal-input-wrap {
  position: relative;
}
.modal-icon {
  fill: transparent;
  stroke: #404040;
  position: absolute;
  left: 24px;
  top: 50%;
  transform: translateY(-50%);
  transition: stroke 200ms ease;
}

.modal-form-btn {
  color: var(--white-cl);
  font-weight: 600;
  padding: 14px 40px;
  border-radius: 100px;
  background-color: var(--accent-cl);
  border-style: none;
  border: 1px solid var(--accent-cl);
  transition: color 250ms, background-color 250ms ease-in-out;
}

.modal-form-btn:hover {
  color: var(--accent-cl);
  background-color: #fcf1e0;
}

.modal-comment {
  width: 100%;
  height: 137px;
  background-color: transparent;
  border-radius: 13px;
  border: 1.5px solid rgba(17, 17, 17, 0.25);
  padding: 22px 24px;
  outline: transparent;
  transition: border-color 200ms ease;
  resize: none;
}

.modal-check-text {
  color: rgba(64, 64, 64, 0.6);
  font-size: 14px;
  letter-spacing: -0.02em;
  display: flex;
  align-items: center;
  position: relative;
}

.modal-close-btn svg {
  stroke: var(--main-cl);
}

.modal-check-link {
  text-decoration: underline;
  color: var(--accent-cl);
}

.modal-check-text span {
  width: 20px;
  height: 20px;
  border-radius: 6px;
  border: 1px solid rgba(17, 17, 17, 0.14);
  margin-right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition-duration: 300ms;
}

.modal-check:checked + .modal-check-text span {
  background-color: var(--accent-cl);
  border: none;
  fill: var(--white-cl);
}

/* 

**tagger** checkbox

.modal-check-text::before {
  content: '';
  width: 40px;
  height: 22px;
  border: 1px solid #c8c5c5;
  border-radius: 50px;
  margin-right: 8px;
}

.modal-check:checked + .modal-check-text::after {
  transform: translateX(18px);
  background-color: #02fe0a;
}

.modal-check-text::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 18px;
  height: 18px;
  border: 1px solid #c8c5c5;
  background-color: #ff0101;
  border-radius: 50%;
  margin-right: 8px;
  transition-duration: 300ms;
}
 */
