:root {
  --main-cl: #111111;
  --accent-cl: #fd9222;
  --violet-cl: #1e1823;
  --beige-cl: #fcf1e0;
  --light-cl: #fafafa;
  --gray-cl: #4c4c4c;
  --white-cl: #ffffff;
  --white-cl-70: #ffffffb3;
}

/** RESET STYLES */

* {
  padding: 0;
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  list-style: none;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--light-cl);
  color: var(--main-cl);
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
}

h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.16;
  letter-spacing: -0.03em;
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  /* width: 1166px; */
  width: 100%;
  max-width: 1166px;
  padding: 0 15px;
  margin: 0 auto;
}

/** END RESET STYLES */

.orange {
  color: var(--accent-cl);
}

/* .section {

} */

/** -------------HEADER START------------- */
.header-container {
  display: flex;
}
.header {
  padding-top: 24px;
  padding-bottom: 32px;
}
.header > .container {
  display: flex;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-logo {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: -0.03em;
  margin-right: 413px;
}

.header-logo > svg {
  margin-left: 4px;
}

.header-logo-italic {
  font-style: italic;
}

.header-navigation-list {
  display: flex;
  gap: 24px;
}

/* .header-navigation-item {

} */

.header-navigation-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14; /* 114.286% */
  letter-spacing: -0.02em;
  color: var(--main-cl);
}

.header-navigation-link:is(:hover, :focus) {
  color: var(--accent-cl);
}

.header-social {
  margin-left: auto;
  display: flex;
  gap: 14px;
}

.header-social-item:hover path,
.footer-item:hover path {
  stroke: var(--accent-cl);
}

.header-social-item {
  display: inline-block;
}

/* .header-social-link {

} */

/** -------------HEADER END------------- */

/** -------------HERO START------------- */

.hero {
  padding-bottom: 80px;
}

.hero-wrap {
  background-image: url(../img/hero-img.jpg);
  height: 600px;
  background-repeat: round;
  border-radius: 30px;
  padding: 380px 40px 40px 40px;
}

.hero-title {
  color: var(--white-cl);
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21; /* 121.429% */
  letter-spacing: -0.03em;
  min-width: 484px;
  margin-bottom: 32px;
}
.hero-btn {
  color: var(--white-cl);
  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
  background-color: var(--accent-cl);
  border-radius: 100px;
  border: 1px solid #fd9222;
  padding: 14px 40px;
  margin-right: 14px;
}
.hero-btn:hover {
  color: var(--accent-cl);
  background-color: var(--beige-cl);
}
.hero-link-btn {
  color: var(--white-cl);
  font-size: 14px;
  font-weight: 600;
  padding: 14px 40px;
  border-radius: 100px;
  border: 1px solid #fff;
}

.hero-link-btn:hover {
  color: var(--accent-cl);
  border-radius: 100px;
  border: 1px solid #fd9222;
}

.hero-down-btn {
  color: var(--white-cl);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29; /* 128.571% */
  letter-spacing: -0.03em;
  display: flex;
  align-items: center;
  gap: 14px;
  margin-left: auto;
}

.hero-down-icon {
  display: flex;
  width: 38px;
  height: 38px;
  background-color: var(--white-cl);
  border-radius: 50%;
}

.hero-buttons {
  display: flex;
}
/** -------------HERO END------------- */

/** -------------BENEFITS START------------- */

.benefits {
  background-color: var(--violet-cl);
  padding: 50px 0;
}

.benefits-list {
  padding: 0 19px;
  display: flex;
  gap: 88px;
}

.benefits-item {
  width: calc((100% - 2 * 88px) / 3);
}

.benefits-item-title {
  color: var(--white-cl);
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 18px;
}
.benefits-item-text {
  color: var(--white-cl-70);
  font-size: 14px;
  line-height: 1.29; /* 128.571% */
  letter-spacing: -0.02em;
}

/** -------------BENEFITS END------------- */

/** -------------INGRIDIENTS START------------- */

.ingridients {
  padding-top: 120px;
}

.ingridients-title {
  max-width: 412px;
  margin: 0 auto;
  margin-bottom: 28px;
}

.ingridients-text {
  text-align: center;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  max-width: 486px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.ingridients-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 32px;
}

.ingridients-item {
  border-radius: 15px;
  width: calc((100% - 3 * 32px) / 4);
  padding: 28px 23px;
}

/* .ingridients-link {
} */

.ingridients-link-title {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.white {
  color: var(--white-cl);
}

.black {
  color: var(--main-cl);
}


.ingridients-item:nth-child(4n + 1) {
  background-color: var(--accent-cl);
}

.ingridients-item:nth-child(4n + 3) {
  background-color: var(--violet-cl);
}

.ingridients-item:nth-child(even) {
  background-color: var(--white-cl);
  border: 1px solid #fd9222;
  background: var(--white-cl);
}

.ingridients-link > img {
  margin-bottom: 36px;
}

/** -------------INGRIDIENTS END------------- */

/** -------------PROCESS START------------- */

.process {
  padding-top: 120px;
}

.process-title {
  margin-bottom: 50px;
}

.process-video {
  border-radius: 30px;
}

.process-right-side {
  background-color: var(--white-cl);
}
.process-list-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33; /* 133.333% */
  margin-bottom: 28px;
}

.process-item:not(:last-child) {
  margin-bottom: 24px;
}

.process-text {
  font-size: 14px;
  line-height: 1.29; /* 128.571% */
  letter-spacing: -0.02em;
}

/** -------------PROCESS END------------- */

/** -------------PRODUCTS START------------- */

.products {
  margin-top: 120px;
}
.products-title {
  margin-bottom: 50px;
}
.products-list {
}
.products-item {
  background-color: var(--white-cl);
  padding: 32px 20px;
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
}
.products-img {
}
.products-subtitle {
}
.products-text {
}
.products-price {
}

/** -------------PRODUCTS END------------- */

/** -------------TOP SELLERS START------------- */

.sellers {
}
.sellers-title {
  padding: 120px 0 50px 0;
}
.sellers-list {
  display: flex;
}
.sellers-item {
  border-radius: 0px 0px 15px 15px;
  border-right: 1px solid rgba(17, 17, 17, 0.1);
  border-bottom: 1px solid rgba(17, 17, 17, 0.1);
  border-left: 1px solid rgba(17, 17, 17, 0.1);
  background-color: var(--white-cl);
}
.sellers-img {
  margin-bottom: 28px;
}
.sellers-subtitle {
  padding-bottom: 28px;
}

/** -------------TOP SELLERS END------------- */

/** -------------REVIEWS START------------- */

.reviews {
  padding: 120px 0;
}
.reviews-title {
  margin-bottom: 90px;
}
.reviews-list {
  margin-bottom: 50px;
}
.reviews-item {
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background: #fff;
  box-shadow: 0px 9.049315452575684px 100px 0px rgba(17, 17, 17, 0.03);
}
.reviews-img {
}
.reviews-subtitle {
  text-align: center;
  margin-bottom: 24px;
}
.reviews-text {
  text-align: center;
}
.reviews-btn {
  color: var(--main-cl);
  background-color: var(--white-cl);
  font-family: inherit;
  font-size: 18px;
  font-weight: 600;
  border-radius: 100px;
  border: 1px solid var(--accent-cl);
  display: block;
  margin: 0 auto;
}
.reviews-btn:is(:hover, :focus) {
  color: var(--white-cl);
  background-color: var(--accent-cl);
}

/** -------------REVIEWS END------------- */

/** -------------FOOTER START------------- */

.footer {
  background-color: var(--violet-cl);
  padding: 50px 0;
}
.footer-text {
  color: var(--white-cl);
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.02em;
  max-width: 300px;
}
.footer-social,
.address-text {
  color: var(--white-cl);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29; /* 128.571% */
  padding-bottom: 14px;
}
.footer-list {
}

.footer-item {
  display: inline-block;
}

.footer-item:hover {
  color: var(--accent-cl);
}

.footer-link {
}

.address {
}
.address-list {
}
.address-item:not(:last-child) {
  margin-bottom: 4px;
}
.address-link {
  color: var(--white-cl);
}
.footer-nav-list {
}
.footer-nav-item {
}
.footer-nav-link {
  color: var(--white-cl);
}

/** -------------FOOTER END------------- */
